<ng-container *ngIf="(user$ | async) as user">
  <section class="mb-4 flex gap-4 flex-column lg:flex-row">
    <p-card class="sh-card" [style]="{ height: '100%' }">
      <article class="flex gap-4 flex-column sm:flex-row align-items-center sm:align-items-start">
        <img
          class="w-10rem h-10rem border-circle u-cover flex-shrink-0"
          src="assets/profile.avif"
          alt="Profile thumb"
        />
        <section class="text-center sm:text-left">
          <p class="text-xl font-medium text-900 m-0 mb-2">
            Alexander Avila Briones
          </p>
          <p class="font-medium text-500 m-0 mb-2">
            <span class="text-900">Último acceso: </span>
            {{ user.lastAccess }}
          </p>
          <p class="font-medium text-500 m-0 mb-2">
            <span class="text-900">Rol: </span>
            Desarrollador Frontend
          </p>
          <p class="font-medium text-500 m-0 mb-2">
            <span class="text-900">Email: </span>
            alexanderavilab&#64;gmail.com
          </p>
          <p class="font-medium text-500 m-0 mb-2">
            <span class="text-900">Celular: </span>
            +51932265652
          </p>
          <p class="font-medium text-500 m-0">
            <span class="text-900">País: </span>
            Perú
          </p>
        </section>
      </article>
    </p-card>
  
    <p-card class="flex-1">
      <article class="text-center">
        <img
          class="w-7rem"
          src="assets/vectors/statistics-draw.svg"
          alt="statistics draw"
        />
        <p class="text-xl font-medium text-900 m-0 mb-2">
          Mis estadísticas
        </p>
        <p-button label="Consultar" [link]="false" />
      </article>
    </p-card>
  
    <div class="flex flex-column gap-4">
      <p-card class="sh-card-statistics">
        <article class="flex justify-content-between">
          <div>
            <span class="block text-500 font-medium mb-2">Clientes</span>
            <div class="text-900 font-medium text-xl">28441</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-cyan-100 border-round sh-icon">
            <i class="pi pi-inbox text-cyan-500 text-xl"></i>
          </div>
        </article>
      </p-card>
      <p-card class="sh-card-statistics">
        <article class="flex justify-content-between">
          <div>
            <span class="block text-500 font-medium mb-2">Proveedores</span>
            <div class="text-900 font-medium text-xl">28441</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-purple-100 border-round sh-icon">
            <i class="pi pi-shopping-cart text-purple-500 text-xl"></i>
          </div>
        </article>
      </p-card>
    </div>
  </section>
  
  <p-card class="flex-1">
    <p class="text-2xl font-medium text-900 m-0 mb-2">
      Bio
    </p>
    <p class="font-medium text-500 m-0 mb-2">
      👨‍💻 Desarrollador de Software especializado en aplicaciones web y arquitecturas frontend.
      Apasionado por la creación de soluciones innovadoras que mejoran la experiencia del usuario y
      optimizan procesos en entornos empresariales.
    </p>
    <p class="font-medium text-500 m-0 mb-2">
      🌐 Colaborador en proyectos de código abierto y entusiasta de las tecnologías emergentes.
      Comprometido con el aprendizaje continuo y la mejora constante.
    </p>
    <p class="font-medium text-500 m-0 mb-2">
      🎓 Graduado en Ingeniería de Software con especialización en diseño de sistemas web.
    </p>
    <p class="font-medium text-500 m-0 mb-2">
      💬 Idiomas: Inglés y Español (bilingüe).
    </p>
    <p class="font-medium text-500 m-0">
      🚀 Abierto a nuevas oportunidades en equipos dinámicos e innovadores.
    </p>
  </p-card>
</ng-container>

<app-loader />