.sh-card {
  width: 100%;
  @media screen and (min-width: '992px') {
    max-width: 650px;
  }
}

.sh-card-statistics {
  width: 100%;
  @media screen and (min-width: '992px') {
    min-width: 300px;
  }
}

.sh-icon {
  width: 2.5rem;
  height: 2.5rem;
}
